
/*****/
/*****/
/*****STYLES SPECIFIC TO BROWSER*/
/*****/
/*****/

/*****/
/*****/
/***** FILTER BAR LABELS*/
/*****/
/*****/

.filterBar .date,.filterBar .work,.filterBar .blog,.filterBar .teaching,.filterBar .publications,.filterBar .projects,.filterBar .presentations,.filterBar .talks,.filterBar .research {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-transform: uppercase;
  margin-right: 10px;
  white-space: nowrap;
}

.filterBar .date:hover,.filterBar .blog:hover, .filterBar .teaching:hover, .filterBar .publications:hover, .filterBar .projects:hover, .filterBar .presentations:hover, .filterBar .talks:hover, .filterBar .research:hover {
  color: #fff;
}

.filterBar .work:hover {
  color: #464668;
}

@-moz-document url-prefix() {
  .filterBar .date,.filterBar .work,.filterBar .blog,.filterBar .teaching,.filterBar .publications,.filterBar .projects,.filterBar .presentations,.filterBar .talks,.filterBar .research {
        padding: 5px 10px 2px 10px;
    }
}

.filterBar > div > div {
  overflow: auto;
}

.filterBar .tag {
  border: 1px solid #414171;
  border-radius: 53px;
  padding: 3px 18px 2px 18px;
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  display: inline-block;
  overflow-wrap: break-all;
}

@-moz-document url-prefix() {
  .filterBar .tag {
    padding: 6px 16px 2px 21px;
  }
}

/*****/
/*****/
/*****Component Fades*/
/*****/
/*****/

.tag-menu:before {
  content  : "";
 position : absolute;
 z-index  : 1;
 bottom   : calc(-75px + 99vh);
 right     : 0;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 1) 10%,
                   rgba(243,243,243, 0) 100%);
 width    : 19.9vw;
 height   : 1vh;
}

.tag-menu:after {
  content  : "";
 position : absolute;
 z-index  : 1;
 bottom   : 0;
 right     : 0;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 0),
                   rgba(243,243,243, 1) 90%);
 width    : 20vw;
 height   : 2vh;
}

.search-modal:before {
  content  : "";
 position : absolute;
 z-index  : 1;
 top: -3vh;
 right     : 0;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 1) 30%,
                   rgba(243,243,243, 0.7) 50%,
                   rgba(243,243,243, 0.3) 70%,
                   rgba(243,243,243, 0) 100%);
 width: calc(80vw - 50px);
 height   : 10vh;
}

.search-modal {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

#list:before {
  content  : "";
 position : absolute;
 z-index  : 1;
 top: 50px;
 left: 50px;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 1) 10%,
                   rgba(243,243,243, 0.7) 50%,
                   rgba(243,243,243, 0) 100%);
 width: calc(80vw - 50px);
 height   : 1vh;
}

#mobile-list:before {
 content  : "";
 position : absolute;
 z-index  : 1;
 top: 125px;
 left: 0px;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 1) 10%,
                   rgba(243,243,243, 0) 100%);
 width: 100%;
 height   : 2vh;
}

/*****/
/*****/
/*****DISABLE SCROLLBAR and ITEM MARGINS IN LIST AND SEARCH*/
/*****/
/*****/

.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll ul {
  margin: 0;
  padding: 0;
}

.no-scroll li {
  margin: 0;
  padding: 0;
}

/*****/
/*****/
/*****SCROLL ARROW*/
/*****/
/*****/

#glyph_scrollup + .metadata {
  display: none;
  transition-duration: 1s;
}

#glyph_scrollup:hover + .metadata {
  display: block;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

/*****/
/*****/
/*****LIST ITEM BACKGROUND COLOR*/
/*****/
/*****/

.search-results .publicationsItem:hover, .search-results .workItem:hover, .search-results .teachingItem:hover, .search-results .projectsItem:hover, .search-results .presentationsItem:hover, .search-results .talksItem:hover, .search-results .blogItem:hover, .search-results .researchItem:hover {
  background: transparent;
}

.publicationsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 227, 225, 0)), color-stop(2%, rgba(245, 227, 225, 1)), color-stop(98%, rgba(245, 227, 225, 1)), to(rgba(245, 227, 225, 0)));
  background: -o-linear-gradient(left, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
  background: linear-gradient(90deg, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
}

.workItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247,227,229, 0)), color-stop(2%, rgba(247,227,229, 1)), color-stop(98%, rgba(247,227,229, 1)), to(rgba(247,227,229, 0)));
  background: -o-linear-gradient(left, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
  background: linear-gradient(90deg, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
}

.teachingItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(225, 238, 244, 0)), color-stop(2%, rgba(225, 238, 244, 1)), color-stop(98%, rgba(225, 238, 244, 1)), to(rgba(225, 238, 244, 0)));
  background: -o-linear-gradient(left, rgba(225, 238, 244, 0) 0%, rgba(225, 238, 244, 1) 2%, rgba(225, 238, 244, 1) 98%, rgba(225, 238, 244, 0) 100%);
  background: linear-gradient(90deg, rgba(225, 238, 244, 0) 0%, rgba(225, 238, 244, 1) 2%, rgba(225, 238, 244, 1) 98%, rgba(225, 238, 244, 0) 100%);
}

.projectsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 227, 225, 0)), color-stop(2%, rgba(245, 227, 225, 1)), color-stop(98%, rgba(245, 227, 225, 1)), to(rgba(245, 227, 225, 0)));
  background: -o-linear-gradient(left, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
  background: linear-gradient(90deg, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
}

.presentationsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 227, 229, 0)), color-stop(2%, rgba(247, 227, 229, 1)), color-stop(98%, rgba(247, 227, 229, 1)), to(rgba(247, 227, 229, 0)));
  background: -o-linear-gradient(left, rgba(247, 227, 229, 0) 0%, rgba(247, 227, 229, 1) 2%, rgba(247, 227, 229, 1) 98%, rgba(247, 227, 229, 0) 100%);
  background: linear-gradient(90deg, rgba(247, 227, 229, 0) 0%, rgba(247, 227, 229, 1) 2%, rgba(247, 227, 229, 1) 98%, rgba(247, 227, 229, 0) 100%);
}

.talksItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(240, 240, 240, 0)), color-stop(2%, rgba(240, 240, 240, 1)), color-stop(98%, rgba(240, 240, 240, 1)), to(rgba(240, 240, 240, 0)));
  background: -o-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 2%, rgba(240, 240, 240, 1) 98%, rgba(240, 240, 240, 0) 100%);
  background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 2%, rgba(240, 240, 240, 1) 98%, rgba(240, 240, 240, 0) 100%);
}

.blogItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(225, 240, 245, 0)), color-stop(2%, rgba(225, 240, 245, 1)), color-stop(98%, rgba(225, 240, 245, 1)), to(rgba(225, 240, 245, 0)));
  background: -o-linear-gradient(left, rgba(225, 240, 245, 0) 0%, rgba(225, 240, 245, 1) 2%, rgba(225, 240, 245, 1) 98%, rgba(225, 240, 245, 0) 100%);
  background: linear-gradient(90deg, rgba(225, 240, 245, 0) 0%, rgba(225, 240, 245, 1) 2%, rgba(225, 240, 245, 1) 98%, rgba(225, 240, 245, 0) 100%);
}

.researchItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247,227,229, 0)), color-stop(2%, rgba(247,227,229, 1)), color-stop(98%, rgba(247,227,229, 1)), to(rgba(247,227,229, 0)));
  background: -o-linear-gradient(left, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
  background: linear-gradient(90deg, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
}



/*****/
/*****/
/*****LIST TITLE*/
/*****/
/*****/

.list-title, .list-title-inverted {
  font-size: 28px;
  line-height: 30px;
  font-family: 'LaNord', sans-serif;
  color: #414171;
  font-style: normal;
  font-weight: normal;
}

.list-title-inverted {
  color: #fff;
}

.list-title-mobile, .list-title-mobile-inverted {
  font-size: 22px;
  line-height: 24px;
  font-family: 'LaNord', sans-serif;
  color: #414171;
  font-style: normal;
  font-weight: normal;
}

.search-results .list-title {
  color: #F5F5F7;
}

.search-results .list-title:hover {
  color: #FF7167;
}


/*****/
/*****/
/*****THUMBNAILS*/
/*****/
/*****/

#list img {
  width: 27vw;
}
/*****/
/*****/
/*****TAGS*/
/*****/
/*****/

.tag-active {
  color: #fff;
  background-color: #464668;
}

.tag-inverted {
  color: #fff;
  border: 1px solid #fff;
  background-color: #F5F5F7f;
}

.tag-clear {
  color: red;
  font-family: sans-serif;
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  right: 275px;
  vertical-align: middle;
  cursor: pointer;
}

.tag-clear:hover {
  font-weight: 900;
}

label.tag:hover {
  background-color:  #bab6fb;
  cursor: pointer;
  transition: 0.05s ease-in;
}

.date-inverted {
  color: #464668;
  background-color: #fff
}

/*****/
/*****/
/*****CATEGORIES*/
/*****/
/*****/

.category-active {
  border: 1px solid #464668;
  color: #464668;
  background-color: #F5F5F7;
}


/*****/
/*****/
/*****INPUT + RADIO*/
/*****/
/*****/

input[type=checkbox] {
  margin-left: -20px;
  opacity: 0;
}

.rd {
  width: 14px;
  height: 14px;
  padding: 10px 0px 2px 0px;
  position: relative;
  margin-right: 5px;
  margin-top: 6px;
  background-color: none;
  border: 1px solid #464668;
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}

.rd:hover {
  background-color: #bab6fb;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.category-active > .rd  {
  background-color: #464668;
}

/*****/
/*****/
/*****STYLES FOR MOBILE VERSION OF CATEGORIES*/
/*****/
/*****/

.mobile {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  height: 17px;
  padding: 0 3px;
  margin: 0 3px;
}

/*****/
/*****/
/*****FADEIN ANIMATION*/
/*****/
/*****/@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
