
/*****/
/*****/
/*****STYLES SPECIFIC TO BROWSER*/
/*****/
/*****/

/*****/
/*****/
/***** FILTER BAR LABELS*/
/*****/
/*****/


.filterBar .date,.filterBar .work,.filterBar .blog,.filterBar .teaching,.filterBar .publications,.filterBar .projects,.filterBar .presentations,.filterBar .talks,.filterBar .research {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-transform: uppercase;
  margin-right: 10px;
  white-space: nowrap;
}

@-moz-document url-prefix() {
  .filterBar .date,.filterBar .work,.filterBar .blog,.filterBar .teaching,.filterBar .publications,.filterBar .projects,.filterBar .presentations,.filterBar .talks,.filterBar .research {
        padding: 5px 10px 2px 10px;
    }
}

.filterBar > div > div {
  overflow: auto;
}

.filterBar .tag {
  border: 1px solid #6262F4;
  border-radius: 53px;
  padding: 5px 15px 3px 15px;
  margin: 0;
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
}

/*****/
/*****/
/*****DISABLE SCROLLBAR, ITEM MARGINS IN LIST AND SEARCH*/
/*****/
/*****/

.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll ul {
  margin: -1px 0 0 0;
  padding: 0;
}

.no-scroll li {
  margin: 0;
  padding: 0;
}

/*****/
/*****/
/*****LIST ITEM BACKGROUND COLOR*/
/*****/
/*****/

.publicationsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 227, 225, 0)), color-stop(2%, rgba(245, 227, 225, 1)), color-stop(98%, rgba(245, 227, 225, 1)), to(rgba(245, 227, 225, 0)));
  background: -o-linear-gradient(left, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
  background: linear-gradient(90deg, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
}

.workItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247,227,229, 0)), color-stop(2%, rgba(247,227,229, 1)), color-stop(98%, rgba(247,227,229, 1)), to(rgba(247,227,229, 0)));
  background: -o-linear-gradient(left, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
  background: linear-gradient(90deg, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
}

.teachingItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(225, 238, 244, 0)), color-stop(2%, rgba(225, 238, 244, 1)), color-stop(98%, rgba(225, 238, 244, 1)), to(rgba(225, 238, 244, 0)));
  background: -o-linear-gradient(left, rgba(225, 238, 244, 0) 0%, rgba(225, 238, 244, 1) 2%, rgba(225, 238, 244, 1) 98%, rgba(225, 238, 244, 0) 100%);
  background: linear-gradient(90deg, rgba(225, 238, 244, 0) 0%, rgba(225, 238, 244, 1) 2%, rgba(225, 238, 244, 1) 98%, rgba(225, 238, 244, 0) 100%);
}

.projectsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 227, 225, 0)), color-stop(2%, rgba(245, 227, 225, 1)), color-stop(98%, rgba(245, 227, 225, 1)), to(rgba(245, 227, 225, 0)));
  background: -o-linear-gradient(left, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
  background: linear-gradient(90deg, rgba(245, 227, 225, 0) 0%, rgba(245, 227, 225, 1) 2%, rgba(245, 227, 225, 1) 98%, rgba(245, 227, 225, 0) 100%);
}

.presentationsItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 227, 229, 0)), color-stop(2%, rgba(247, 227, 229, 1)), color-stop(98%, rgba(247, 227, 229, 1)), to(rgba(247, 227, 229, 0)));
  background: -o-linear-gradient(left, rgba(247, 227, 229, 0) 0%, rgba(247, 227, 229, 1) 2%, rgba(247, 227, 229, 1) 98%, rgba(247, 227, 229, 0) 100%);
  background: linear-gradient(90deg, rgba(247, 227, 229, 0) 0%, rgba(247, 227, 229, 1) 2%, rgba(247, 227, 229, 1) 98%, rgba(247, 227, 229, 0) 100%);
}

.talksItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(240, 240, 240, 0)), color-stop(2%, rgba(240, 240, 240, 1)), color-stop(98%, rgba(240, 240, 240, 1)), to(rgba(240, 240, 240, 0)));
  background: -o-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 2%, rgba(240, 240, 240, 1) 98%, rgba(240, 240, 240, 0) 100%);
  background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 2%, rgba(240, 240, 240, 1) 98%, rgba(240, 240, 240, 0) 100%);
}

.blogItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(225, 240, 245, 0)), color-stop(2%, rgba(225, 240, 245, 1)), color-stop(98%, rgba(225, 240, 245, 1)), to(rgba(225, 240, 245, 0)));
  background: -o-linear-gradient(left, rgba(225, 240, 245, 0) 0%, rgba(225, 240, 245, 1) 2%, rgba(225, 240, 245, 1) 98%, rgba(225, 240, 245, 0) 100%);
  background: linear-gradient(90deg, rgba(225, 240, 245, 0) 0%, rgba(225, 240, 245, 1) 2%, rgba(225, 240, 245, 1) 98%, rgba(225, 240, 245, 0) 100%);
}

.researchItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247,227,229, 0)), color-stop(2%, rgba(247,227,229, 1)), color-stop(98%, rgba(247,227,229, 1)), to(rgba(247,227,229, 0)));
  background: -o-linear-gradient(left, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
  background: linear-gradient(90deg, rgba(247,227,229, 0) 0%, rgba(247,227,229, 1) 2%, rgba(247,227,229, 1) 98%, rgba(247,227,229, 0) 100%);
}

/*****/
/*****/
/*****LIST TITLE*/
/*****/
/*****/

.list-title, .list-title-inverted {
  font-size: 36px;
  line-height: 36px;
  font-family: 'LaNord', sans-serif;
  color: #513bfd;
  font-style: normal;
  font-weight: normal;
}

.list-title-inverted {
  color: #fff;
}

/*****/
/*****/
/*****TAGS*/
/*****/
/*****/

.tag-active {
  color: #fff;
  background-color: #6262F4;
}

.tag-inverted {
  color: #fff;
  border: 1px solid #fff;
  background-color: none;
}

.tag-clear {
  color: red;
  font-family: sans-serif;
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  right: 275px;
  vertical-align: middle;
  cursor: pointer;
}
.tag-clear:hover {
  font-weight: 900;
}

label.tag:hover {
  background-color:  #bab6fb;
  cursor: pointer;
}

.date-inverted {
  color: #513bfd;
  background-color: #fff
}

/*****/
/*****/
/*****CATEGORIES*/
/*****/
/*****/

.category-active {
  border: 1px solid #513bfd;
  color: #513bfd;
  background-color: #F5F5FF;
}


/*****/
/*****/
/*****INPUT + RADIO*/
/*****/
/*****/

input[type=checkbox] {
  margin-left: -20px;
  opacity: 0;
}

.rd {
  width: 14px;
  height: 14px;
  padding: 10px 0px 2px 0px;
  position: relative;
  margin-right: 5px;
  margin-top: 6px;
  background-color: none;
  border: 1px solid #513bfd;
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}

.rd:hover {
  background-color: #bab6fb;
  cursor: pointer;
}

.category-active > .rd  {
  background-color: #513bfd;
}

/*****/
/*****/
/*****STYLES FOR MOBILE VERSION OF CATEGORIES*/
/*****/
/*****/

.mobile {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  height: 17px;
  padding: 0 3px;
  margin: 0 3px;
}