/* */
/* Global styles */
/* */

@font-face {
  font-family: 'LaNord';
  src: url('../fonts/LaNord.otf');
}

@font-face {
  font-family: 'Wremena_Light';
  src: url('../fonts/Wremena_Light.otf');
}

@font-face {
  font-family: 'Bespoke';
  src: url('../fonts/Bespoke.otf');
}

body {
  cursor: default;
  overflow: hidden;
  font-family: 'Wremena_Light', sans-serif;
  background-color: #F5F5FF
}

*::-moz-focus-inner {
padding: 0;
border: 0;
margin-top:-1px;
margin-bottom:-1px;
}

a {
  color: inherit;
  text-decoration: none;
}

.interface > a {
  color: #513bfd;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  text-decoration: none;
  font-weight: 400;
  padding: 0;
  margin: 0 0 1.45rem 0;
}

ul, li {
  margin: 0 0 1.45rem 0;
  padding: 0;
}


.gradient {
  background: linear-gradient(0deg, rgba(245,245,253,1) 0%, rgba(245,245,253,0.43879558659401263) 50%, rgba(255,255,255,0) 100%);
}

.gradient:before,
.gradient:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 10%;
  pointer-events: none;
  z-index: -1;
}

.gradient:before {
  background: rgba(245,245,253,1);
  background: linear-gradient(0deg, rgba(245,245,253,1) 0%, rgba(245,245,253,0.43879558659401263) 50%, rgba(255,255,255,0) 100%);
}

.gradient:after {
  background: linear-gradient(0deg, rgba(245,245,253,1) 10%, rgba(245,245,253,1) 50%, rgba(255,255,255,1) 100%);
  bottom: 0;
}

.interface {
  color: #513bfd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Bespoke', sans-serif;
  margin: 15px 0 0 15px;
}

.metadata {
  color: #513bfd;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Bespoke', sans-serif;
}

.tag {
  border: 1px solid #6262F4;
  border-radius: 53px;
  padding: 5px 15px 3px 15px;
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #6262F4;
  margin: 0 10px 0 0;
  display: inline-block;
}


/*.tag::-moz-focus-inner { border: 0; padding: 0; margin:0; }
*/

.date, .work, .blog, .teaching, .publications, .projects , .presentations , .talks, .research {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  padding: 5px 20px 2px 20px;
  text-transform: uppercase;
  margin-right: 10px;
  white-space: nowrap;
}

.date {
  background-color: #513bfd;
  border: 1px solid #513bfd;
}

.work {
  background-color: none;
  color: #513bfd;
  border: 1px solid transparent;
}

.blog {
  background-color: #a2d2dd;
  border: 1px solid #a2d2dd;
}

.teaching {
  background-color: #6F9AAD;
  border: 1px solid #6F9AAD;
}

.publications {
  background-color: #E79180;
  border: 1px solid #E79180;
}

.projects {
  background-color: #F4D791;
  border: 1px solid #F4D791;
}

.presentations {
  background-color: #E9B7BA;
  border: 1px solid #E9B7BA;
} 

.talks {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.research {
  background-color: #ccc;
  border: 1px solid #ccc;
}

