
/* */
/* Global styles */
/* */

@font-face {
  font-family: 'LaNord';
  src: url('../fonts/LaNord.otf');
}

@font-face {
  font-family: 'LaNord_Light';
  src: url('../fonts/LaNord_Light.otf');
}

@font-face {
  font-family: 'Wremena_Light';
  src: url('../fonts/Wremena_Light.otf');
}

@font-face {
  font-family: 'Bespoke';
  src: url('../fonts/Bespoke.otf');
}

body {
  cursor: default;
  overflow: hidden;
  font-family: 'Wremena_Light', sans-serif;
  background-color: #f3f3f3;
}

*::-moz-focus-inner {
  padding: 0;
  border: 0;
  margin-top:-1px;
  margin-bottom:-1px;
}

a {
  color: inherit;
  text-decoration: none;
}

.interface > a {
  color: #513bfd;
}

a:hover {
  text-decoration: none;
  color: #FF7167;
  cursor: pointer;
  transition: 0.05s ease-in;
}

h1, h2, h3, h4, h5 {
  text-decoration: none;
  font-weight: 400;
  padding: 0;
  margin: 0 0 1.45rem 0;
}

ul, li {
  margin: 0 0 1.45rem 0;
  padding: 0;
}

input:hover {
  cursor: pointer;
}

/* */
/* page fadein */
/* */

.home {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

.browser {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

.reader {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}



/* */
/* Shared styles */
/* */
.interface {
  color: #513bfd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Bespoke', sans-serif;
  margin: 15px 0 15px 14px;
}

.metadata {
  color: #513bfd;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Bespoke', sans-serif;
}

.tag {
  display: inline-block;
  border: 1px solid #414171;
  border-radius: 53px;
  padding: 5px 15px 5px 15px;
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  text-align: left;
  text-transform: uppercase;
  color: #414171;
  margin: 0 5px 0 0;
}

.date, .blog, .teaching, .publications, .projects , .presentations , .talks, .research, .featured {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  padding: 4px 10px 3px 10px;
  text-transform: uppercase;
  margin-right: 5px;
  white-space: nowrap;
}

.work {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  padding: 7px 10px 3px 10px;
  text-transform: uppercase;
  margin-right: 5px;
  white-space: nowrap;
}

@-moz-document url-prefix() {
  .date, .blog, .teaching, .publications, .projects , .presentations , .talks, .research, .featured {
      padding: 5px 10px 2px 10px;
    }
  .tag {
    padding: 7px 15px 3px 15px;
  }
  .work {
    padding: 7px 10px 3px 10px;
  }
}

.date {
  background-color: #513bfd;
  border: 1px solid #513bfd;
}

.work {
  background-color: #f3f3f3;
  color: #513bfd;
  border: 1px solid #513bfd;
}

.blog {
  background-color: #a2d2dd;
  border: 1px solid #a2d2dd;
}

.teaching {
  background-color: #6F9AAD;
  border: 1px solid #6F9AAD;
}

.publications {
  background-color: #E79180;
  border: 1px solid #E79180;
}

.projects {
  background-color: #F4D791;
  border: 1px solid #F4D791;
}

.presentations {
  background-color: #E9B7BA;
  border: 1px solid #E9B7BA;
}

.talks {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.research {
  background-color: #ccc;
  border: 1px solid #ccc;
}
