.latest {
	font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 13px;
  color: #fff;
  padding: 2px 20px;
  text-transform: uppercase;
  background-color: #6262F4;
  margin-right: 10px;
}

.home-title {
	font-family: 'LaNord', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	line-height: 44px;
	color: #6262F4;
	margin: 0 10px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}