
/*****/
/*****/
/*****STYLES SPECIFIC TO HOME*/
/*****/
/*****/

.featured {
	border: 1px solid #6262F4;
	background-color: #6262F4;
}

.home-title {
	font-family: 'LaNord_SemiLight', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 40px;
	color: #4c4661;
}

.home-title a:hover {
	text-decoration: underline;
}

.home-title-mobile {
	font-family: Bespoke;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #464668;
}
/*
.home-body:before {
  content  : "";
 position : absolute;
 z-index  : 1;
 top: 50px;
 left: 50px;
 pointer-events   : none;
 background-image : linear-gradient(to bottom,
                   rgba(245,245,247, 1) 0%,
									 rgba(245,245,247, 0.8) 50%,
                   rgba(245,245,247, 0) 100%);
 width: calc(100vw - 100px);
 height   : 0.5vh;
} */

.home-body-mobile {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.home-body-mobile::-webkit-scrollbar {
  display: none;
}

/* homeItem left side > imageL and imageR alignments; right side */

.left > * {
	text-align: right;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.left .home-title {
	margin: 20px 20px 20px 0px;
}

.left .home-entry {
	-ms-flex-preferred-size: 60%;
	    flex-basis: 60%;
}

.left .normal .home-entry > * {
	justify-content: flex-end;
}

.imageL .home-title {
	margin: 20px 0px 20px 20px;
}

.imageL {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	-ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.right {
	text-align: center;
	padding-bottom: 20px;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	flex-flow: column;
}

.right .home-title {
	padding: 20px 20px 20px 20px;
}

/*****/
/*****/
/*****STICKER STYLES*/
/*****/
/*****/

path.st0 {
	fill: #5B5A7C;
}


.Sticker > * {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.Sticker svg {
	position: absolute;
	transition-duration: 0.5s;
}

.smallSticker > * {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex: 1 1 0;
}

.smallSticker svg{
	position: absolute;
	transition-duration: 0.5s;
	height: 100%;
}

#sticker-browse-text, #sticker-words-text, #sticker-classes-text, #sticker-upcoming-text {
	height: 250px;
}

/* Sticker Hovers */

.Sticker:hover .st0 {
	fill: #FF666E;
}

.related-item:hover + svg#sticker-related, svg#sticker-related:hover, svg#circle-wordsinspace:hover, svg#sticker-browse:hover, svg#sticker-upcoming:hover, svg#sticker-classes:hover, svg#sticker-words:hover, svg#sticker-colophon:hover, svg#sticker-cv:hover, svg#sticker-twitter:hover{
	-webkit-animation: loading-spinner  10s infinite;
	        animation: loading-spinner  10s infinite;
}

svg#sticker-related:hover .st0, svg#circle-wordsinspace:hover .st0, svg#sticker-browse:hover .st0, svg#sticker-upcoming:hover .st0, svg#sticker-classes:hover .st0, svg#sticker-words:hover .st0, svg#sticker-colophon:hover .st0, svg#sticker-cv:hover .st0, svg#sticker-twitter:hover .st0 {
	fill: #FF666E;
}

.related-item:hover + * circle {
	stroke: #FF666E;
}

.metadata:hover circle {
	stroke: #FF666E;
}


#wordsinspace:hover * {
	color: #FF666E;
	fill: #FF666E;
}

/* small sticker hover */

svg#sticker-email:hover, svg#sticker-pinboard:hover, svg#sticker-colophon:hover {
	-webkit-animation: loading-spinner-inverse  5s infinite;
	        animation: loading-spinner-inverse  5s infinite;
}

a[aria-label="email"]:hover path, a[aria-label="twitter"]:hover path, a[aria-label="CV"]:hover path, a[aria-label="pinboard"]:hover path {
	fill: #FF666E;
}

a[aria-label="email"]:hover circle, a[aria-label="twitter"]:hover circle, a[aria-label="CV"]:hover circle, a[aria-label="pinboard"]:hover circle {
	stroke: #FF666E;
}

@-webkit-keyframes loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@keyframes loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-spinner-inverse {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loading-spinner-inverse {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}


.colophon-copy {
	font-family: 'LaNord_Light';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 34px;
	color: #464668;
}
