
.reader-title {
  font-family:  'LaNord', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 61px;
  color: #513bfd;
  width: 50vw;
}

.related-title {
  color: #513bfd;
  font-weight: 900;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  margin-top: 5vh;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  width: 70vw;
  margin: 0 auto;
  height: 70vh;
  padding: 0;
  border: 1px solid;
}

.gallery-item {
  margin: 1vh 1vw;
  align-self: flex-start;
}
