
/*****/
/*****/
/*****STYLES SPECIFIC TO READER*/
/*****/
/*****/
.reader-title {
  font-family:  'LaNord', sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 61px;
  color: #464668;
  padding: 4vh 8vh 5vh 4vh;
}

.reader-title-mobile {
  font-family:  'LaNord', sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #464668;
  padding: 2vh 0 3vh 0;
}

.related-title {
  font-family:  'LaNord', sans-serif;
  color: #464668;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 1vh;
  /* hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; */
}

.reader-body:before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top: 50px;
  left: 50px;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                   rgba(243,243,243, 1) 10%,
                   rgba(243,243,243, 0.7) 50%,
                   rgba(243,243,243, 0) 100%);
  width: calc(80vw - 50px);
  height   : 1vh;
}

.reader-body-mobile:before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top: 50px;
  left: 0px;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                 rgba(243,243,243, 1) 10%,
                 rgba(243,243,243, 0.7) 50%,
                 rgba(243,243,243, 0) 100%);
  width: 100vw;
  height   : 1vh;
}

.reader-body-mobile {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.reader-body-mobile::-webkit-scrollbar {
  display: none;
}


/*****Styling new layout as slideshow***/

.wp-block-gallery {
  height: auto;
  width: inherit;
}

.mobile-content .wp-block-gallery {
  height: auto;
  width: inherit;
}

.blocks-gallery-grid {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.blocks-gallery-grid::-webkit-scrollbar {
  display: none;
}

.blocks-gallery-grid {
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background:
    linear-gradient(217deg, rgba(255,0,0,.08), rgba(255,255,255,0) 40.71%),
    linear-gradient(127deg, rgba(0,255,0,.08), rgba(255,255,255,0) 40.71%),
    linear-gradient(336deg, rgba(0,0,255,.08), rgba(0,0,255,0) 40.71%);

}

/* testing hover arrow to indicate scrollover for more */
/* .blocks-gallery-item:hover {
  background-image: url('/slideshow_scroll.svg');
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: border-box;
  background-attachment: auto;
} */

.wp-block-gallery ul, .wp-block-gallery li{
  list-style-type: none;
  margin: 0;
}

.content .blocks-gallery-item {
  width: inherit;
  padding: 0 20px 0 0;
}

.mobile-content .blocks-gallery-item {
  width: inherit;
  height: auto;
  padding: 0 20px 0 0;
}

.blocks-gallery-grid figure {
  height: 100%;
  width: inherit;
}

.blocks-gallery-grid  {
  width: inherit;
}

li.blocks-gallery-item:last-child {
  background:
    -webkit-gradient(linear, left top, right top, from(rgba(245, 245, 255, 0)), color-stop(50%, rgba(245, 245, 255, 0)), color-stop(50%, rgba(245, 245, 255, 0.8)), color-stop(60%, rgba(245, 245, 255, 1)), to(rgba(245, 245, 255, 1)));
  background:
    -o-linear-gradient(left, rgba(245, 245, 255, 0), rgba(245, 245, 255, 0) 50%, rgba(245, 245, 255, 0.8) 50%, rgba(245, 245, 255, 1) 60%, rgba(245, 245, 255, 1) 100%);
  background:
    linear-gradient(90deg, rgba(245, 245, 255, 0), rgba(245, 245, 255, 0) 50%, rgba(245, 245, 255, 0.8) 50%, rgba(245, 245, 255, 1) 60%, rgba(245, 245, 255, 1) 100%);
}

.content .blocks-gallery-item > figure > div  {
  width: inherit;
  /* where max image height is set */
  height: 60vh;
}

.mobile-content .blocks-gallery-item > figure > div  {
  width: inherit;
  /* where max image height is set */
  height: auto;
}

.content .blocks-gallery-grid img  {
  padding: 0px 4vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .blocks-gallery-grid img  {
  padding: 0 4vw 0 4vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.blocks-gallery-grid figure picture {
  width: inherit;
  height: inherit;
}

/*****Styling old layout as slideshow***/

.slideshowFrame {
  height: 60vh;
  margin-bottom: 4vh;
}

.mobile-content .slideshowFrame {
  height: auto;
  margin-bottom: 4vh;
}

.slideshowWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slideshowWrapper::-webkit-scrollbar {
  display: none;
}

.slideshowWrapper {
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    align-items: center;
  background:
    -o-linear-gradient(233deg, rgba(255,0,0,.08), rgba(255,255,255,0) 40.71%),
    -o-linear-gradient(323deg, rgba(0,255,0,.08), rgba(255,255,255,0) 40.71%),
    -o-linear-gradient(114deg, rgba(0,0,255,.08), rgba(0,0,255,0) 40.71%);
  background:
    linear-gradient(217deg, rgba(255,0,0,.08), rgba(255,255,255,0) 40.71%),
    linear-gradient(127deg, rgba(0,255,0,.08), rgba(255,255,255,0) 40.71%),
    linear-gradient(336deg, rgba(0,0,255,.08), rgba(0,0,255,0) 40.71%);
}

.content .slideshowImgWrapper {
  height: inherit;
  padding: 2vh 2vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.mobile-content .slideshowImgWrapper {
  height: inherit;
  width: 84vw;
  padding: 2vh 2vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* override inline hell */
.content .slideshowImgWrapper > *  {
  width: 56vw;
}

.mobile-content .slideshowImgWrapper > *  {
  width: 80vw;
}

.content .slideshowImgWrapper img  {
  padding: 0;
  max-width: 56vw;
  max-height: 56vh ;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.content .slideshowImg {
  width: 56vw !important;
}

.mobile .slideshowImg {
  width: 80vw !important;
}

.mobile-content .slideshowImgWrapper > div  {
  padding: 0 0 0 0 !important;
  width: inherit !important;
  max-width: 84vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .slideshowImg  {
  padding: 0;
  max-width: 80vw !important;
  max-height: auto ;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .slideshowImgWrapper img  {
  padding: 0;
  max-width: 80vw;
  max-height: auto ;
  -o-object-fit: contain !important;
     object-fit: contain !important;

}

.slideshowImg > div {
  padding: 0;
}

picture img {
  padding: 0;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

img [aria-hidden="true"], div [aria-hidden="true"] {
  display: none !important;
}

picture source {
  display: none !important;
}

/*****/
/*****/
/*****CATEGORIES HOVER*/
/*****/
/*****/
.work.reader:hover {
  border: 1px solid #464668;
  color: #464668;
  background-color: #fff;
}

.blog.reader:hover {
  border: 1px solid #a2d2dd;
  color: #a2d2dd;
  background-color: #fff;
}

.teaching.reader:hover {
  border: 1px solid #6F9AAD;
  color: #6F9AAD;
  background-color: #fff;
}

.publications.reader:hover {
  border: 1px solid #E79180;
  color: #E79180;
  background-color: #fff;
}

.projects.reader:hover {
  border: 1px solid #F4D791;
  color: #F4D791;
  background-color: #fff;
}

.presentations.reader:hover {
  border: 1px solid #E9B7BA;
  color: #E9B7BA;
  background-color: #fff;
}

.talks.reader:hover {
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
}

.research.reader:hover {
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
}

/*****/
/*****/
/*****INLINE WORDPRESS STYLES WELCOME TO HELL*/
/*****/
/*****/

.content {
  font-family:  'LaNord_Light', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 34px;
  color: #464668 !important;
  width: inherit;
}

.mobile-content {
  font-family:  'LaNord', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #464668 !important;
  width: inherit;
}

/* replacement styles from Agnes */

.emphasised {
  font-weight: bold;
}

.indented {
  color: #F5F5F7;
}

.content > h1, .content > h2, .content > h3, .mobile-content > h1, .mobile-content > h2, .mobile-content > h3 {
  font-family: 'LaNord', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  color: #464668;
}

.content a, .mobile-content a {
  font-family: 'LaNord_Light', sans-serif;
  font-weight: 200;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

/*****/
/*****/
/*****INLINE WORDPRESS STYLES FOR IMAGES THIS IS A SPECIAL TYPE OF HELL*/
/*****/
/*****/


.content a > img {
  display: block;
  max-width: 56vw;
  height: auto;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.mobile-content a > img {
  display: block;
  max-width: 84vw;
  height: auto;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}

.content p img {
  max-width: 56vw !important;
  height: auto !important;
}

.mobile-content p img {
  max-width: 84vw !important;
  height: auto !important;
}

.content iframe {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}

.mobile-content iframe {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}


.content > figure img, .mobile-content > figure, img {
  padding: 0;
  margin: 0;
}

.content .twitter-tweet {
  border: 1px #464688 solid;
  border-radius: 30px;
  font-size: 18px;
  line-height: 26px;
  padding: 3vh 2vw;
  margin: 0vw 4vw;
  background: linear-gradient(217deg, rgba(255,0,0,.08), rgba(255,255,255,0) 40.71%),
      linear-gradient(127deg, rgba(0,255,0,.08), rgba(255,255,255,0) 40.71%),
      linear-gradient(336deg, rgba(0,0,255,.08), rgba(0,0,255,0) 40.71%);
}

.mobile-content .twitter-tweet {
  border: 1px #464688 solid;
  border-radius: 30px;
  padding: 3vh 6vw;
  margin: 0vw 4vw;
  background: linear-gradient(217deg, rgba(255,0,0,.08), rgba(255,255,255,0) 40.71%),
      linear-gradient(127deg, rgba(0,255,0,.08), rgba(255,255,255,0) 40.71%),
      linear-gradient(336deg, rgba(0,0,255,.08), rgba(0,0,255,0) 40.71%);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: scroll;
  width: 70vw;
  margin: 0 auto;
  height: 70vh;
  padding: 0;
  border: 1px solid #464668;

}

.gallery-item {
  margin: 1vh 1vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}


figcaption {
  color: #464668;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
  font-family: 'Bespoke', sans-serif;
  margin: 10px 0 4vh 1px;
  padding-right: 0;
}

.blocks-gallery-grid:hover + figcaption:after {
  content: 'scroll for more >>';
  float: right;
  -webkit-backface-visibility: hidden;
}

/* .blocks-gallery-grid:hover + figcaption {
  background-image: url('/slideshow_scroll.svg');
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: auto;
  } */

/*****/
/*****/
/*****CITATIONS*/
/*****/
/*****/

.citations {
  font-family: Bespoke;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 17px;
  color: #464668;
  border-top: 1px dotted #464668;
  padding-top: 10px;
}
