
/*****/
/*****/
/*****STYLES SPECIFIC TO READER*/
/*****/
/*****/

.reader .work, .reader .date, .reader .blog, .reader .teaching, .reader .classes, .reader .publications, .reader .projects , .reader .presentations , .reader .talks, .reader .research, .reader .featured {
  color: #fff;
}

.reader .work a:hover, .reader .date a:hover, .reader .blog a:hover, .reader .teaching:hover {
  color: inherit;
}

.reader .classes a:hover, .reader .publications a:hover, .reader .projects a:hover, .reader .presentations a:hover, .reader .talks a:hover, .reader .research a:hover, .reader .feature a:hover {
  color: inherit;
}

.reader-title {
  font-family:  'LaNord_SemiLight', sans-serif;
  font-style: normal;
  font-size: 66px;
  line-height: 68px;
  color: #5B5A7C;
  width: 60vw;
  margin: 4vh 8vh 5vh 4vh;
}

.reader-title-mobile {
  font-family:  'LaNord_SemiLight', sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #5B5A7C;
  padding: 2vh 0 3vh 0;
}

.related-title {
  font-family:  'LaNord_SemiLight', sans-serif;
  color: #5B5A7C;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 1vh;
}

.related-item:hover .related-title {
  color: #FF666E;
}

.related-item .uncategorized {
  display: block;
  opacity: 0;
}

/* .reader-body:before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top: 50px;
  left: 50px;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                   rgba(245,245,247, 1) 10%,
                   rgba(245,245,247, 0.7) 50%,
                   rgba(245,245,247, 0) 100%);
  width: calc(100vw - 50px);
  height   : 1vh;
}

.reader-body-mobile:before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top: 50px;
  left: 0px;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                 rgba(243,243,243, 1) 10%,
                 rgba(243,243,243, 0.7) 50%,
                 rgba(243,243,243, 0) 100%);
  width: 100vw;
  height   : 1vh;
} */

.reader-body-mobile {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.reader-body-mobile::-webkit-scrollbar {
  display: none;
}

.top-bar .interface:hover path {
  stroke: #FF666E;
  fill: #FF666E;
}


/*****Styling new layout as slideshow***/

.wp-block-gallery {
  height: auto;
  width: inherit;
}

.mobile-content .wp-block-gallery {
  height: auto;
  width: inherit;
}

.blocks-gallery-grid {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.blocks-gallery-grid::-webkit-scrollbar {
  display: none;
}

.blocks-gallery-grid {
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background:
    linear-gradient(217deg, rgba(255,0,0,.04), rgba(255,255,255,0) 40.71%),
    linear-gradient(127deg, rgba(0,255,0,.04), rgba(255,255,255,0) 40.71%),
    linear-gradient(336deg, rgba(0,0,255,.04), rgba(0,0,255,0) 40.71%);

}

.wp-block-gallery ul, .wp-block-gallery li{
  list-style-type: none;
  margin: 0;
}

.content .blocks-gallery-item {
  width: inherit;
  padding: 0 20px 0 0;
}

.mobile-content .blocks-gallery-item {
  width: inherit;
  height: auto;
  padding: 0 20px 0 0;
}

.blocks-gallery-grid figure {
  height: 100%;
  width: inherit;
  margin-bottom: 0 !important;
}

.blocks-gallery-grid  {
  width: inherit;
}

li.blocks-gallery-item:last-child {
  background:
    -webkit-gradient(linear, left top, right top, from(rgba(245, 245, 255, 0)), color-stop(50%, rgba(245, 245, 255, 0)), color-stop(50%, rgba(245, 245, 255, 0.8)), color-stop(60%, rgba(245, 245, 255, 1)), to(rgba(245, 245, 255, 1)));
  background:
    -o-linear-gradient(left, rgba(245, 245, 255, 0), rgba(245, 245, 255, 0) 50%, rgba(245, 245, 255, 0.8) 50%, rgba(245, 245, 255, 1) 60%, rgba(245, 245, 255, 1) 100%);
  background:
    linear-gradient(90deg, rgba(245, 245, 255, 0), rgba(245, 245, 255, 0) 50%, rgba(245, 245, 255, 0.8) 50%, rgba(245, 245, 255, 1) 60%, rgba(245, 245, 255, 1) 100%);
}

.content .blocks-gallery-item > figure > div  {
  /* override inline width */
  width: inherit !important;
  /* where max image height is set */
  height: 60vh;
}

.mobile-content .blocks-gallery-item > figure > div  {
  /* override inline width */
  width: inherit !important;
  /* where max image height is set */
  height: auto;
}

.content .blocks-gallery-grid img  {
  padding: 0px 4vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .blocks-gallery-grid img  {
  padding: 0 4vw 0 4vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.blocks-gallery-grid figure picture {
  width: inherit;
  height: inherit;
}

/*****Styling old layout as slideshow***/

.slideshowFrame {
  position: relative;
  height: 60vh;
  margin-bottom: 4vh;
}

.mobile-content .slideshowFrame {
  height: auto;
  margin-bottom: 4vh;
}

.slideshowWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slideshowWrapper::-webkit-scrollbar {
  display: none;
}

.slideshowWrapper {
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    align-items: center;
  background:
    -o-linear-gradient(233deg, rgba(255,0,0,.04), rgba(255,255,255,0) 40.71%),
    -o-linear-gradient(323deg, rgba(0,255,0,.04), rgba(255,255,255,0) 40.71%),
    -o-linear-gradient(114deg, rgba(0,0,255,.04), rgba(0,0,255,0) 40.71%);
  background:
    linear-gradient(217deg, rgba(255,0,0,.04), rgba(255,255,255,0) 40.71%),
    linear-gradient(127deg, rgba(0,255,0,.04), rgba(255,255,255,0) 40.71%),
    linear-gradient(336deg, rgba(0,0,255,.04), rgba(0,0,255,0) 40.71%);
}

.content .slideshowImgWrapper {
  height: inherit;
  padding: 2vh 2vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.mobile-content .slideshowImgWrapper {
  height: inherit;
  width: 84vw;
  padding: 2vh 2vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* override inline hell */
.content .slideshowImgWrapper > *  {
  width: 56vw;
}

.mobile-content .slideshowImgWrapper > *  {
  width: 80vw;
}

.content .slideshowImgWrapper img  {
  padding: 0;
  max-width: 56vw;
  max-height: 56vh ;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.content .slideshowImg {
  width: 56vw !important;
}

.mobile .slideshowImg {
  width: 80vw !important;
}

.mobile-content .slideshowImgWrapper > div  {
  padding: 0 0 0 0 !important;
  width: inherit !important;
  max-width: 84vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .slideshowImg  {
  padding: 0;
  max-width: 80vw !important;
  max-height: auto ;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mobile-content .slideshowImgWrapper img  {
  padding: 0;
  max-width: 80vw;
  max-height: auto ;
  -o-object-fit: contain !important;
     object-fit: contain !important;

}

.slideshowImg > div {
  padding: 0;
}

picture img {
  padding: 0;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

img [aria-hidden="true"], div [aria-hidden="true"] {
  display: none !important;
}

picture source {
  display: none !important;
}

/*****/
/*****/
/*****CATEGORIES HOVER*/
/*****/
/*****/
.work.reader:hover {
  border: 1px solid #5B5A7C;
  color: #5B5A7C;
  background-color: #fff;
}

.blog.reader:hover {
  border: 1px solid #a2d2dd;
  color: #a2d2dd;
  background-color: #fff;
}

.teaching.reader:hover {
  border: 1px solid #6F9AAD;
  color: #6F9AAD;
  background-color: #fff;
}

.publications.reader:hover {
  border: 1px solid #7D7ED1;
  color: #7D7ED1;
  background-color: #fff;
}

.projects.reader:hover {
  border: 1px solid #A83357;
  color: #A83357;
  background-color: #fff;
}

.presentations.reader:hover {
  border: 1px solid #69D18E;
  color: #69D18E;
  background-color: #fff;
}

.talks.reader:hover {
  border: 1px solid #FFB9B0;
  color: #FFB9B0;
  background-color: #fff;
}

.research.reader:hover {
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
}

/*****/
/*****/
/*****INLINE WORDPRESS STYLES WELCOME TO HELL*/
/*****/
/*****/

.content {
  position: relative;
  font-family:  'LaNord_SemiLight', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 34px;
  color: #5B5A7C !important;
  width: inherit;
}

.mobile-content {
  font-family:  'LaNord_SemiLight', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #5B5A7C !important;
  width: inherit;
}

/* replacement styles from Agnes */

.emphasised {
  font-weight: bold;
}

/* maybe not too important regex'd indents from old WIS */
.indented {
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5 {
  font-family: 'LaNord', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 24px;
  color: #5B5A7C;
}

.mobile-content > h1, .mobile-content > h2, .mobile-content > h3, mobile-content > h4, .mobile-content > h5 {
  font-family: 'LaNord', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 24px;
  color: #5B5A7C;
}

.content a, .mobile-content a {
  font-family: 'LaNord_Light', sans-serif;
  font-weight: 200;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

/*****/
/*****/
/*****INLINE WORDPRESS STYLES FOR IMAGES THIS IS A SPECIAL TYPE OF HELL*/
/*****/
/*****/

.content p, .mobile-content p {
  padding-left: 0;
  padding-right: 0 !important;
}

.content div, .content div div {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.mobile-content > div, .mobile-content > p > div {
  width: inherit;
  max-width: 84vw !important;
  margin-left: auto;
  margin-right: auto;
}

.content img, .content > .gatsby-image-wrapper {
  max-width: 56vw !important;
  height: auto;
}

.mobile-content img {
  max-width: 84vw !important;
  height: auto !important;
}

.content a > img {
  display: block;
  max-width: 56vw;
  height: auto;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.mobile-content a > img {
  display: block;
  max-width: 84vw;
  height: auto;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}

.content p img {
  max-width: 56vw !important;
  height: auto !important;
}

.mobile-content p img {
  max-width: 84vw !important;
  height: auto !important;
}

.content iframe {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}

.mobile-content iframe {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}

.content embed, .content figure {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}

.mobile-content embed, .mobile-content figure {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: 100%;
}

.content object {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: inherit;
}

.mobile-content object {
  display: block;
  margin: 0 auto 4vh auto;
  max-width: inherit;
}


.content > figure img, .mobile-content > figure, img {
  padding: 0;
  margin: 0;
}

.content .twitter-tweet {
  border: 1px #464688 solid;
  border-radius: 30px;
  font-size: 18px;
  line-height: 26px;
  padding: 3vh 2vw;
  margin: 2vh 4vw;
  background: rgba(255,255,255,0.4);
}

.content .twitter-tweet:after, .mobile-content .twitter-tweet:after {
  content: "on Twitter";
}

.mobile-content .twitter-tweet {
  border: 1px #464688 solid;
  border-radius: 30px;
  padding: 3vh 6vw;
  margin: 2vh 0vw;
  background: rgba(255,255,255,0.4);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: scroll;
  width: 70vw;
  margin: 0 auto;
  height: 70vh;
  padding: 0;
  border: 1px solid #5B5A7C;

}

.gallery-item {
  margin: 1vh 1vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}


figcaption {
  color: #5B5A7C;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
  font-family: 'Bespoke_Caption', sans-serif;
  margin: 10px 0 4vh 1px;
  padding-right: 0;
}

.blocks-gallery-grid:hover + figcaption:after {
  content: 'scroll for more >>';
  float: right;
  -webkit-backface-visibility: hidden;
}

.wp-block-gallery {
  cursor: url("https://ia601508.us.archive.org/28/items/cursor-right_20200831_1918/Cursor_Right.png") 32 29, e-resize;
}

.slideshowFrame {
  cursor: url("https://ia601508.us.archive.org/28/items/cursor-right_20200831_1918/Cursor_Right.png") 32 29, e-resize;
}

.slideshowWrapper:hover:after {
  content: 'scroll right for more >';
  font-family: 'Bespoke_Caption';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  bottom: -4vh;
  right: 0;
  -webkit-backface-visibility: hidden;
}

/* .blocks-gallery-grid:hover + figcaption {
  background-image: url('/slideshow_scroll.svg');
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: auto;
  } */

/*****/
/*****/
/*****CITATIONS*/
/*****/
/*****/

.citations {
  font-family: 'Bespoke_Caption';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 17px;
  color: #5B5A7C;
  border-top: 1px solid #5B5A7C;
  padding-top: 10px;
}
